---
layout: default
title: Join the GitLab for Education Program
description: "GitLab for Education bringing DevOps to a classroom near you. Apply today to get started on your DevOps journey!"
canonical_path: "/solutions/education/join/"
suppress_header: true
extra_css:
  - sales-and-free-trial-common.css
  - faq.css
  - styles-2018.css
  - webcast.css
  - meetups.css
extra_js:
  - libs/on-scroll.js
  - in-page-nav.js
  - all-clickable.js
---

.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        = image_tag "/images/community/gitlab-for-education-logo-digital-rgb-04.svg", class: "gitlab-for-education-logo-digital-rgb-04", alt: "Gitlab for Education logo"
        %h1.page-headline GitLab for Education
        %h2.page-subtitle Bringing DevOps to a classroom near you

.wrapper.wrapper--large-fonts
  #content.devops-content.u-margin-top-lg
    .wrapper.container.js-in-page-nav-group{role: "main"}
      .row.u-margin-top-xl
        .col-md-6.col-md-offset-1
          %h2.u-text-brand Application Second Step

          <p class="alert alert-gitlab-purple">
          We are currently automating the application process in order to provide our community with the best experience possible. As we roll out the automation project in phases,  a few extra steps are required and you may experience delays. We appreciate your patience during this transition. To help us prioritize, please let us know if your request is urgent by including "Urgent: [your request]" in the subject line of any email to education@gitlab.com.
          </p>

          %h3

          %p Congratulations on being accepted into the GitLab for Education Program!

          %p The second step is to fill out this application form with the details we need to create a zero dollar quote to initiate the license process.

          %p Please provide the most accurate and complete information possible when filling out the form. Include a complete billing address with street number, street name, and zip code.

          %p Please allow 10 business days for an initial response.

          %h3 What to expect

          %p After we recieve your second step form:
          %ul
            %li You will receive a zero dollar quote for signature.
            %li Review the quote and the included terms and conditions.
            %li Sign and return the quote electronically.
            %li Directions for accessing your license will be sent to you afer the signed quote is accepted.
            %li The license key (self-managed) or group authentication (SaaS) will require you to log in to the <a href="https://customers.gitlab.com/customers/sign_in" target="_blank">GitLab Customer Portal</a>.
            %li See our <a href="https://about.gitlab.com/solutions/education/join/#faqs" target="_blank">FAQs</a> for more details.



        .col-md-1
          %h3.margin-top0

          .centered-form
            %script{ src: "//page.gitlab.com/js/forms2/js/forms2.min.js" }
            %form#mktoForm_1659
            :javascript
              MktoForms2.setOptions(
              {
                formXDPath : "/rs/194-VVC-221/images/marketo-xdframe-relative.html"
              });
              MktoForms2.loadForm("//page.gitlab.com", "194-VVC-221", 1659, function(form) {
                form.onSuccess(function() {
                  form.getFormElem().hide();
                  $('.confirmform').attr('style', 'visibility: visible');
                  return false;
                });
              });
        .confirmform{ style: "visibility:hidden;" }
          %h3 Submission received!
          %p We will be in touch within 10 business days.
